<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>

    <style type="text/css">
<!--        body{-->
<!--        background-image: url("/img/bg.jpg");-->
<!--        background-repeat:repeat;-->
<!--        }-->
    </style>

    <link rel="stylesheet" href="/static/css/bootstrap.css">

</head>

<body>
<nav class="nav nav-pills flex-column flex-sm-row">

  <a class="flex-sm-fill text-sm-center nav-link active" aria-current="page" href="/login">用户登录</a>
  <a class="flex-sm-fill text-sm-center nav-link" href="/adminlogin">管理员登录</a>

  <a class="flex-sm-fill text-sm-center nav-link  href="#"
     onclick="window.close()"> 关闭此页面
  </a>

</nav>

<div class="card text-center">
  <div class="card-body">
    <h5 class="card-title">健康标语</h5>
    <p class="card-text">饮食多清淡，作息要正常，常保笑口开，健康自然来。</p>
  </div>
</div>

<section class="">
  <!-- Jumbotron -->
  <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
    <div class="container">
      <div class="row gx-lg-5 align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <h1 class="my-5 display-3 fw-bold ls-tight">
            健康饮食 <br />
            <span class="text-primary">多做运动</span>
          </h1>
          <p style="color: hsl(217, 10%, 50.8%)">

            xxx 健康饮食管理系统 欢迎您！

          </p>
        </div>

        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="card">
            <div class="card-body py-5 px-md-5">
              <form  method="post">

                <!-- Email input -->
                <div class="form-outline mb-4">
                  <input
                          type="text"
                          id="form3Example3"
                          class="form-control"
                          name="username"
                          placeholder = 'Username'
                  />
<!--                  <label class="form-label" for="form3Example3" >Username & Email address</label>-->
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4">
                  <input type="password"
                         id="form3Example4"
                         class="form-control"
                         name="password"
                         placeholder = 'Password'

                  >
<!--                  <label class="form-label" for="form3Example4">Password</label>-->
                </div>

                <!-- Checkbox -->
                <div class="form-check d-flex justify-content-center mb-4">
                  <input class="form-check-input me-2" type="checkbox" value="remeber-me" id="form2Example33" checked />
                  <label class="form-check-label" for="form2Example33" >Remember </label>
                </div>
                <div class="d-grid gap-2 col-6 mx-auto">
                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4">
                Login
                </button>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Jumbotron -->
</section>

</body>
</html>